[submodule "_posts/generated"]
	path = _posts/generated
	url = git@bitbucket.org:dartosphere/feedcontent.git
[submodule "datacontent"]
	path = datacontent
	url = git@bitbucket.org:dartosphere/datacontent.git
