<div class="featured">
      <ul class="bxslider">
      <li><img src="/img/slider/slider-1.jpg" alt="Your no. 1 reference for dart!" />
            <div class="bx-caption">
               <div class="container">
                  <h1>Your no. 1 reference for dart!</h1>
                  <p>Dartosphere is an independant resource for anything connected to the Dart language.<br/> We do Blog syndication, but also publish exclusive articles.</p>
                <a href="/blog.html" class="trans" title="Read more">Read more</a>
               </div>
            </div>
      </li>
      <li style="display:none"><img src="/img/slider/slider-2.jpg" alt="Your no. 1 reference for dart!" />
            <div class="bx-caption">
                <div class="container">
                  <h1>We love Dart books.</h1>
                  <p>We try to read all Dart books we can get. Check out, what we already read, or send in your own!</p>
                </p>
              <a href="/books" class="trans" title="Read more">Read more</a>
               </div>
            </div>
      </li>
      <li style="display:none"><img src="/img/slider/slider-2.jpg" alt="Your no. 1 reference for dart!" />
            <div class="bx-caption">
               <div class="container">
                  <h1>Your first steps with Dart</h1>
                <p>Visit our Resource-center to find other fantastic links to learn more about Dart.</p>
                <a href="/resources" class="trans" title="Read more">Read more</a>
               </div>
            </div>
      </li>
      <li style="display:none"><img src="/img/slider/slider-3.jpg" alt="Your no. 1 reference for dart!" />
            <div class="bx-caption">
                <div class="container">
                  <h1>Join us!</h1>
                <p>We are looking for you!<br/>We'd love to publish your Dart related post or add your feed to the planet!</p>
                </p>
              <a href="/participate" class="trans" title="Read more">Read more</a>
               </div>
            </div>
      </li>
      <li style="display:none"><img src="/img/slider/slider-4.jpg" alt="Your no. 1 reference for dart!" />
            <div class="bx-caption">
               <div class="container">
                  <h1>Get in touch!</h1>
                <p>We are looking for professionals, trainers and other disciplines to build
                  up a large database for others who need your help. Send your details!</p>
                <a href="/participate" class="trans" title="Read more">Read more</a>
               </div>
            </div>
      </li>
    </ul>
      
   </div>