<!DOCTYPE html>
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}
<meta name="description" content="{{page.description}}" />
{% endif %}
{% if page.tags %}
<meta name="keywords" content="{{page.tags | join: ','}}" />
{% else %}
<meta name="keywords" content="dart, blog, how-to, dartlang, google, javascript" />
{% endif %}
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="/css/style.css?20141203" media="screen"  />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico" />
<link href="https://plus.google.com/105232322999658861548" rel="publisher" />
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% if page.link %}
  <link rel="canonical" href="{{ page.link }}" />
{% endif %}
</head>
<body>
  
   <header class="pageheader">
       
       <div class="container">

         <div class="pure-g">

           <div class="pure-u-6-24">
            <a href="/index.html" title="Dartosphere" class="logo pure-menu-heading">
                 <img src="/img/logo.png" alt="Dartosphere" />
               </a>
           </div>

           <div class="pure-u-13-24">
             <nav class="navigation">
                 <ul id="menu">
                  <li><a href="/blog.html" title="Dart Blog Posts">Blog posts</a></li>
                  <!--<li><a href="/what-is-dart" title="What is dart?">What is dart?</a></li>-->
                  <li><a href="/books" title="Books">Books</a></li>
                  <li><a href="/resources" title="Resources">Resources</a></li>
                  <li><a href="/developers" title="Developers working with Dart">Devs</a></li>
                  <li><a href="/releases" title="Releases from the Dartlang community">Releases</a></li>
                  <li><a href="/participate" title="Participate">Help</a></li>
                  <li><a href="/about" title="About us">About</a></li>
                 </ul>                        
              </nav><!--end /.navigation-->
           </div>

           <div class="pure-u-5-24 last">
            
            <!--
            <form action="#" method="get" class="search-form">
                   <input class="searchText" type="text" name="s" placeholder="Search" />
        </form>--><!--end /.search-->

                <div class="social">
                  <a href="http://feeds.feedburner.com/dartosphere" title="RSS" class="icon rss"></a>
                  <a href="https://plus.google.com/105232322999658861548" title="Google Plus" class="icon google"></a>
                  <a href="https://twitter.com/dartosphere" title="Twitter" class="icon twitter"></a>
                  <a href="http://www.facebook.com/pages/Dartosphere/165291166911774" title="Facebook" class="icon facebook"></a>
                </div><!--end /.rss-->

           </div>
          
         </div><!--end /.pure-g-r-->
          

       </div><!-- /.container-->

   </header><!-- /.pageheader-->

  {% if page.slider %}
    {% include teaser.html %} 
  {% endif %}
   
  <div class="container content_wrap">
      <div class="pure-g">
         <aside class="pure-u-6-24 sidebar">
          
<script type="text/javascript">
    google_ad_client = "ca-pub-9833599478636271";
    google_ad_slot = "8878435531";
    google_ad_width = 200;
    google_ad_height = 200;
</script>
<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
          
          {% if page.subnavigation %}
          <div class="sub-menu">
             <ul>
              {% for nav in page.subnavigation %}
                 <li>{{nav}}</li>
              {% endfor %}
             </ul>
          </div><!--end /.sublinks-->
          {% endif %}

            <div class="newsletter">

              <form  action="http://grobmeier.us2.list-manage1.com/subscribe/post?u=0824398f58160d8279dbcdc04&amp;id=ea4b0840f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="pure-form pure-form-stacked">
                <fieldset>
                    <h4>Weekly dart updates</h4>
                    <label for="email">Subscribe and get weekly updates with post from the Dartosphere</label>
                    <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="email address" required />
                    <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe"  type="submit" class="pure-button pure-button-primary trans">Subscribe</button>
                </fieldset>
              </form>

            </div><!-- /.newsletter-->

            <div class="share-us">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<div><a class="addthis_button_google_plusone" g:plusone:size="medium"></a></div>
<div><a class="addthis_button_tweet"></a></div>

<div><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a></div>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5392dd184f197f85"></script>
<!-- AddThis Button END -->

            </div><!-- /.share-us-->

         </aside><!-- /.sidebar-->

          {{ content }}

        
      </div><!-- /.pure-g-r-->
    
   </div><!-- /.container-->

   <footer class="pagefooter">
       
      <div class="container inner">

        <div class="pure-g">
          <div class="pure-u-6-24">
            <h6>Discussion</h6>
            <ul>
               <li><a href="https://groups.google.com/a/dartlang.org/forum/#!forum/misc" rel="nofollow" title="Offical Dart Group">Offical Dart Group</a></li>
               <li><a href="https://www.xing.com/net/dartlang" rel="nofollow" title="Dart Xing (German)">Dart Xing (German)</a></li>
            </ul>
          </div>

          <div class="pure-u-6-24">
            <h6>Socialice</h6>
            <ul>
               <li><a href="http://feeds.feedburner.com/dartosphere" title="RSS">RSS</a></li>
               <li><a href="https://twitter.com/dartosphere" title="Twitter">Twitter</a></li>
               <li><a href="https://plus.google.com/105232322999658861548" title="Google+">Google</a></li>
               <li><a href="http://www.facebook.com/pages/Dartosphere/165291166911774" title="Facebook">Facebook</a></li>
            </ul>
          </div>
          <div class="pure-u-6-24">
           <h6>Contact</h6>
            <ul>
               <li><a href="/participate" title="Join this planet">Join this planet</a></li>
               <li><a href="/imprint.html" title="Impressum">Impressum</a></li>
               <li><a href="/datenschutz.html" title="Datenschutz">Datenschutz</a></li>
            </ul>
          </div>

          <div class="pure-u-6-24">&nbsp;</div>
        </div>
      </div><!-- /.container-->

      <div class="siteby">
         <div class="container">
          Maintained by <a href="http://www.grobmeier.de">Christian Grobmeier</a>. Please consider joining this planet. <a href="https://plus.google.com/105232322999658861548" rel="publisher">Google+</a>
         </div>
      </div>

   </footer><!-- /.pagefooter-->

<!--js /includes-->
<script src="/js/libs/jquery-1.10.2.min.js"></script>
<script src="/js/libs/jquery.bxslider.min.js"></script>
<script src="/js/libs/tinynav.min.js"></script>
<script src="/js/custom.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-110601-21', 'auto');
  ga('set', 'anonymizeIp', true);  
  ga('send', 'pageview');
</script>
{% if page.js %}
  {% for js in page.js %}
    <script src="{{js}}"></script>
  {% endfor %}
{% endif %}
</body>
</html>